<div class="page">
  <div class="our-information container mt-5">
    <div class="sections d-flex justify-content-evenly">
      <div class="exclusive me-3">
        <h3>Exclusive</h3>
        <ul>
          <li>Subscribe</li>
          <li>Get 10% off your first order</li>
        </ul>
        <div class="input-group">
          <div class="input-group-text">@</div>
          <input
            type="text"
            class="form-control"
            id="autoSizingInputGroup"
            placeholder="Username"
          />
        </div>
      </div>
      <div class="support ms-3">
        <h3>Support</h3>
        <ul>
          <li>Tanta,Talbant Kiser,Abokuhel.</li>
          <li><a href="mostafashehat603@gmail.com">Mostafa Shehat</a></li>
          <li>+20 01228956856</li>
        </ul>
      </div>
      <div class="account ms-3">
        <h3>Account</h3>
        <ul>
          <li>My Account</li>
          <li>Login / Register</li>
          <li>Cart</li>
          <li>Shop</li>
        </ul>
      </div>
      <div class="download ms-3">
        <h3>Download App</h3>
        <ul>
          <li><img src="\assets\qrcode.png" alt="" /></li>
          <li>
            <div class="d-flex justify-content-center justify-content-between">
              <i class="fa-brands fa-square-facebook"></i>
              <i class="fa-brands fa-square-twitter"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-linkedin"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
